@charset "UTF-8";
.science_spot {
  width: 1258px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  .spot2 {
    &__img {
      @include use-sprite(science_img1, $spr_spot_img, $spr_spot_img_2x);

    }
    &__info {
      position: absolute;
      left: 0;
      top: 170px;
      right: 0;
      text-align: center;
    }
    &__info-tit {
      font-family: $F-family-en;
      font-size: $F-size-xxxbig;
      color: $C-white;
      strong {
        font-weight: $F-weight-bold;
      }
    }
    &__info-text {
      padding-top: 20px;
      color: $C-white;
      font-size: $F-size-big;
      line-height: 1.5;
      letter-spacing: -1px;
    }
  }
}
.science_cont1 {
  position: relative;
  height: 490px;
  width: 1258px;
  margin: 0 auto;
  &:before {
    @include use-sprite(bg06);
    position: absolute;
    left: 230px;
    bottom: 50px;
  }
  &:after {
    content: '';
    width: 1px;
    height: 381px;
    position: absolute;
    right: 63px;
    top: 148px;
    background:$C-black;
  }

  &__stit {
    position: absolute;
    left:119px;
    top:129px;
    font-family: $F-family-en;
    font-weight: $F-weight-bold;
    font-size: $F-size-xbig;
    color: #818e9f;
    letter-spacing: -1px;

    span {
      display: inline-block;
      vertical-align: top;
    }

    &:before {
      content:'';
      display: inline-block;
      vertical-align: top;
      width:36px;
      height:5px;
      margin: 12px 10px 0 0;
      background: #818e9f;
    }
  }
  &__info {
    position: absolute;
    left: 435px;
    top: 129px;
  }
  &__info &__tit {
    position: relative;
    font-size: $F-size-xxbig;
  }
  &__info &__txt {
    margin-top: 60px;
    font-size: $F-size;
    color: $C-font-basic;
  }
}
.science_cont2 {
  position:relative;
  height: 320px;
  background: $C-black;
  text-align: center;
  &__img {
    display: inline-block;
    vertical-align: top;
    width: 1304px;
    height: 320px;
    @include use-sprite(science_img2, $spr_spot_img, $spr_spot_img_2x);
    margin: 0 auto;
  }
}
.science_cont3 {
  position: relative;
  height: 570px;
  width: 1258px;
  margin: 0 auto;
  &:before {
    @include use-sprite(bg01);
    position: absolute;
    left: 195px;
    bottom: -110px;
  }
  &__stit {
    position: absolute;
    left:132px;
    top:135px;
    font-family: $F-family-en;
    font-weight: $F-weight-bold;
    font-size: $F-size-xbig;
    color: #818e9f;
    letter-spacing: -1px;

    span {
      display: inline-block;
      vertical-align: top;
    }

    &:before {
      content:'';
      display: inline-block;
      vertical-align: top;
      width:36px;
      height:5px;
      margin: 12px 10px 0 0;
      background: #818e9f;
    }
  }
  &__info {
    position: absolute;
    left: 434px;
    top: 130px;
  }
  &__info &__summary {
    font-family: $F-family-en;
    color:$C-font-basic;
    font-size:3.0rem;
  }
  &__info &__tit {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: $F-size-xxbig;
    line-height: 1.5;
    color: #242424;
    padding-top: 50px;
  }
  &__info &__tit2 {
    padding-top: 50px;
    font-size: $F-size-big;
    color: #242424;
  }
  &__info &__txt {
    margin-top: 20px;
    font-size: $F-size;
    color: $C-font-basic;
    letter-spacing: -1px;
  }
  &__people {
    position: absolute;
    left: 434px;
    top: 425px;
  }
  &__people-img {
    width:839px;
    height:402px;
    background:#ccc;
  }
  &__people &__people-box {
    margin-top:50px;
  }
  &__people &__people-box2 {
    padding:20px 0 0 227px;
  }
  &__people &__people-label {
    display: inline-block;
    vertical-align: top;
    width: 224px;
    color: #242424;
    font-weight: $F-weight-bold;
  }
  &__people &__people-slabel {
    display: inline-block;
    vertical-align: top;
    width: 160px;
  }
  &__people &__people-info {
    display: inline-block;
    vertical-align: top;
  }
  &__people-box &__people-info {
    color: #242424;
    strong {
      font-weight: $F-weight-bold;
    }

  }
}
.science_cont4 {
  background:url(../images/repeat_bg.png) repeat 0 0;
  padding-top: 685px;
  height: 865px;

  &__area {
    width: 1258px;
    margin: 0 auto;
    position:relative;
  }
  &__stit {
    padding-left: 120px;
    font-family: $F-family-en;
    font-weight: $F-weight-bold;
    font-size: $F-size-xbig;
    color: #818e9f;
    letter-spacing: -1px;


    &:before {
      content:'';
      display: inline-block;
      vertical-align: top;
      width:36px;
      height:5px;
      margin: 12px 10px 0 0;
      background: #818e9f;
    }
  }

  &__team {
    padding: 0 120px 0;
  }
  &__team-list {
    margin: 10px -50px 0 -50px;
    @include clear;
  }
  &__team-item {
    float:left;
    width: 275px;
    text-align: center;
    margin-top: 50px;
  }
  &__img {
    display: inline-block;
    vertical-align: top;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    background: #000;
    overflow: hidden;
  }
  &__name {
    padding-top: 45px;
    font-size: 1.8rem;
    color: #010101;
    font-weight: $F-weight-bold;
  }
  &__desc {
    padding-top: 5px;
    font-size: 1.3rem;
    color: #010101;
  }
  &__desc2 {
    display: block;
    text-align: center;
    &:before {
      content:'';
      display: inline-block;
      vertical-align: top;
      margin: 45px 0;
      width: 42px;
      height: 2px;
      background: #18050a;
    }


  }
  &__desc-txt {
    font-size: 1.3rem;
    color: #010101;
    text-align: left;
    padding-left: 40px;
  }
}