@charset "UTF-8";
.title {
  padding: 20px 0;
  .heading_h1 {
    font-size: 3.0rem;
    font-weight: $F-weight-bold;
  }
  .heading_h3 {
    font-size: 1.6rem;
    font-weight: $F-weight-bold;
    color: $C-font-dark;
  }
}
