@mixin spr_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img: (
    spritesheet_name: spr_img,
    total_width: 625px,
    total_height: 571px,
    total_width_retina: 312.5px,
    total_height_retina: 285.5px,
    arrow_right: (
        offset_x: -607px,
        offset_y: -150px,
        width: 7px,
        height: 8px,
        offset_x_retina: -303.5px,
        offset_y_retina: -75px,
        width_retina: 3.5px,
        height_retina: 4px),
    bg01: (
        offset_x: -419px,
        offset_y: 0,
        width: 152px,
        height: 221px,
        offset_x_retina: -209.5px,
        offset_y_retina: 0,
        width_retina: 76px,
        height_retina: 110.5px),
    bg02: (
        offset_x: 0,
        offset_y: -419px,
        width: 129px,
        height: 152px,
        offset_x_retina: 0,
        offset_y_retina: -209.5px,
        width_retina: 64.5px,
        height_retina: 76px),
    bg03: (
        offset_x: -133px,
        offset_y: -419px,
        width: 103px,
        height: 103px,
        offset_x_retina: -66.5px,
        offset_y_retina: -209.5px,
        width_retina: 51.5px,
        height_retina: 51.5px),
    bg04: (
        offset_x: 0,
        offset_y: 0,
        width: 415px,
        height: 415px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 207.5px,
        height_retina: 207.5px),
    bg05: (
        offset_x: -575px,
        offset_y: 0,
        width: 50px,
        height: 146px,
        offset_x_retina: -287.5px,
        offset_y_retina: 0,
        width_retina: 25px,
        height_retina: 73px),
    bg06: (
        offset_x: -419px,
        offset_y: -225px,
        width: 152px,
        height: 129px,
        offset_x_retina: -209.5px,
        offset_y_retina: -112.5px,
        width_retina: 76px,
        height_retina: 64.5px),
    f_ssl: (
        offset_x: -419px,
        offset_y: -386px,
        width: 117px,
        height: 20px,
        offset_x_retina: -209.5px,
        offset_y_retina: -193px,
        width_retina: 58.5px,
        height_retina: 10px),
    logo: (
        offset_x: -419px,
        offset_y: -358px,
        width: 137px,
        height: 24px,
        offset_x_retina: -209.5px,
        offset_y_retina: -179px,
        width_retina: 68.5px,
        height_retina: 12px),
    logo_white: (
        offset_x: -240px,
        offset_y: -419px,
        width: 228px,
        height: 39px,
        offset_x_retina: -120px,
        offset_y_retina: -209.5px,
        width_retina: 114px,
        height_retina: 19.5px),
    qut_end: (
        offset_x: -575px,
        offset_y: -170px,
        width: 28px,
        height: 16px,
        offset_x_retina: -287.5px,
        offset_y_retina: -85px,
        width_retina: 14px,
        height_retina: 8px),
    qut_start: (
        offset_x: -575px,
        offset_y: -150px,
        width: 28px,
        height: 16px,
        offset_x_retina: -287.5px,
        offset_y_retina: -75px,
        width_retina: 14px,
        height_retina: 8px),
);
