@mixin spr_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img: (
    spritesheet_name: spr_img,
    total_width: 714px,
    total_height: 571px,
    total_width_retina: 357px,
    total_height_retina: 285.5px,
    arrow_right: (
        offset_x: -684px,
        offset_y: -154px,
        width: 7px,
        height: 8px,
        offset_x_retina: -342px,
        offset_y_retina: -77px,
        width_retina: 3.5px,
        height_retina: 4px),
    bg01: (
        offset_x: -419px,
        offset_y: 0,
        width: 152px,
        height: 221px,
        offset_x_retina: -209.5px,
        offset_y_retina: 0,
        width_retina: 76px,
        height_retina: 110.5px),
    bg02: (
        offset_x: 0,
        offset_y: -419px,
        width: 129px,
        height: 152px,
        offset_x_retina: 0,
        offset_y_retina: -209.5px,
        width_retina: 64.5px,
        height_retina: 76px),
    bg03: (
        offset_x: -133px,
        offset_y: -419px,
        width: 103px,
        height: 103px,
        offset_x_retina: -66.5px,
        offset_y_retina: -209.5px,
        width_retina: 51.5px,
        height_retina: 51.5px),
    bg04: (
        offset_x: 0,
        offset_y: 0,
        width: 415px,
        height: 415px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 207.5px,
        height_retina: 207.5px),
    bg05: (
        offset_x: -575px,
        offset_y: 0,
        width: 50px,
        height: 146px,
        offset_x_retina: -287.5px,
        offset_y_retina: 0,
        width_retina: 25px,
        height_retina: 73px),
    bg06: (
        offset_x: -419px,
        offset_y: -225px,
        width: 152px,
        height: 129px,
        offset_x_retina: -209.5px,
        offset_y_retina: -112.5px,
        width_retina: 76px,
        height_retina: 64.5px),
    f_ssl: (
        offset_x: -419px,
        offset_y: -386px,
        width: 117px,
        height: 20px,
        offset_x_retina: -209.5px,
        offset_y_retina: -193px,
        width_retina: 58.5px,
        height_retina: 10px),
    ico_arrowdown: (
        offset_x: -675px,
        offset_y: -116px,
        width: 7px,
        height: 4px,
        offset_x_retina: -337.5px,
        offset_y_retina: -58px,
        width_retina: 3.5px,
        height_retina: 2px),
    ico_arrowright: (
        offset_x: -667px,
        offset_y: -116px,
        width: 4px,
        height: 7px,
        offset_x_retina: -333.5px,
        offset_y_retina: -58px,
        width_retina: 2px,
        height_retina: 3.5px),
    ico_facebook: (
        offset_x: -650px,
        offset_y: -174px,
        width: 9px,
        height: 17px,
        offset_x_retina: -325px,
        offset_y_retina: -87px,
        width_retina: 4.5px,
        height_retina: 8.5px),
    ico_login: (
        offset_x: -629px,
        offset_y: -89px,
        width: 34px,
        height: 34px,
        offset_x_retina: -314.5px,
        offset_y_retina: -44.5px,
        width_retina: 17px,
        height_retina: 17px),
    ico_ok: (
        offset_x: -629px,
        offset_y: 0,
        width: 85px,
        height: 85px,
        offset_x_retina: -314.5px,
        offset_y_retina: 0,
        width_retina: 42.5px,
        height_retina: 42.5px),
    ico_twitter: (
        offset_x: -661px,
        offset_y: -154px,
        width: 19px,
        height: 15px,
        offset_x_retina: -330.5px,
        offset_y_retina: -77px,
        width_retina: 9.5px,
        height_retina: 7.5px),
    ico_youtube: (
        offset_x: -688px,
        offset_y: -127px,
        width: 23px,
        height: 16px,
        offset_x_retina: -344px,
        offset_y_retina: -63.5px,
        width_retina: 11.5px,
        height_retina: 8px),
    input_check: (
        offset_x: -694px,
        offset_y: -89px,
        width: 17px,
        height: 17px,
        offset_x_retina: -347px,
        offset_y_retina: -44.5px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_check_on: (
        offset_x: -629px,
        offset_y: -174px,
        width: 17px,
        height: 17px,
        offset_x_retina: -314.5px,
        offset_y_retina: -87px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_radio: (
        offset_x: -629px,
        offset_y: -127px,
        width: 23px,
        height: 23px,
        offset_x_retina: -314.5px,
        offset_y_retina: -63.5px,
        width_retina: 11.5px,
        height_retina: 11.5px),
    input_radio_on: (
        offset_x: -667px,
        offset_y: -89px,
        width: 23px,
        height: 23px,
        offset_x_retina: -333.5px,
        offset_y_retina: -44.5px,
        width_retina: 11.5px,
        height_retina: 11.5px),
    logo: (
        offset_x: -419px,
        offset_y: -358px,
        width: 137px,
        height: 24px,
        offset_x_retina: -209.5px,
        offset_y_retina: -179px,
        width_retina: 68.5px,
        height_retina: 12px),
    logo_white: (
        offset_x: -240px,
        offset_y: -419px,
        width: 228px,
        height: 39px,
        offset_x_retina: -120px,
        offset_y_retina: -209.5px,
        width_retina: 114px,
        height_retina: 19.5px),
    qut_end: (
        offset_x: -629px,
        offset_y: -154px,
        width: 28px,
        height: 16px,
        offset_x_retina: -314.5px,
        offset_y_retina: -77px,
        width_retina: 14px,
        height_retina: 8px),
    qut_start: (
        offset_x: -656px,
        offset_y: -127px,
        width: 28px,
        height: 16px,
        offset_x_retina: -328px,
        offset_y_retina: -63.5px,
        width_retina: 14px,
        height_retina: 8px),
);
