@mixin spr_img_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img_2x: (
    spritesheet_name: spr_img_2x,
    total_width: 2812px,
    total_height: 1138px,
    total_width_retina: 1406px,
    total_height_retina: 569px,
    arrow_right: (
        offset_x: -2239px,
        offset_y: -356px,
        width: 14px,
        height: 16px,
        offset_x_retina: -1119.5px,
        offset_y_retina: -178px,
        width_retina: 7px,
        height_retina: 8px),
    bg01: (
        offset_x: -834px,
        offset_y: -304px,
        width: 304px,
        height: 442px,
        offset_x_retina: -417px,
        offset_y_retina: -152px,
        width_retina: 152px,
        height_retina: 221px),
    bg02: (
        offset_x: 0,
        offset_y: -834px,
        width: 258px,
        height: 304px,
        offset_x_retina: 0,
        offset_y_retina: -417px,
        width_retina: 129px,
        height_retina: 152px),
    bg03: (
        offset_x: -1450px,
        offset_y: -304px,
        width: 206px,
        height: 206px,
        offset_x_retina: -725px,
        offset_y_retina: -152px,
        width_retina: 103px,
        height_retina: 103px),
    bg04: (
        offset_x: 0,
        offset_y: 0,
        width: 830px,
        height: 830px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 415px,
        height_retina: 415px),
    bg05: (
        offset_x: -262px,
        offset_y: -834px,
        width: 100px,
        height: 292px,
        offset_x_retina: -131px,
        offset_y_retina: -417px,
        width_retina: 50px,
        height_retina: 146px),
    bg06: (
        offset_x: -1142px,
        offset_y: -304px,
        width: 304px,
        height: 258px,
        offset_x_retina: -571px,
        offset_y_retina: -152px,
        width_retina: 152px,
        height_retina: 129px),
    f_ssl: (
        offset_x: -2398px,
        offset_y: -304px,
        width: 234px,
        height: 40px,
        offset_x_retina: -1199px,
        offset_y_retina: -152px,
        width_retina: 117px,
        height_retina: 20px),
    ico_apply-end: (
        offset_x: -1142px,
        offset_y: -566px,
        width: 170px,
        height: 170px,
        offset_x_retina: -571px,
        offset_y_retina: -283px,
        width_retina: 85px,
        height_retina: 85px),
    ico_arrow_hide: (
        offset_x: -2154px,
        offset_y: -356px,
        width: 30px,
        height: 18px,
        offset_x_retina: -1077px,
        offset_y_retina: -178px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_next: (
        offset_x: -2410px,
        offset_y: -386px,
        width: 12px,
        height: 18px,
        offset_x_retina: -1205px,
        offset_y_retina: -193px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_prev: (
        offset_x: -2426px,
        offset_y: -386px,
        width: 12px,
        height: 18px,
        offset_x_retina: -1213px,
        offset_y_retina: -193px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_view: (
        offset_x: -2120px,
        offset_y: -356px,
        width: 30px,
        height: 18px,
        offset_x_retina: -1060px,
        offset_y_retina: -178px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_view2: (
        offset_x: -2388px,
        offset_y: -386px,
        width: 18px,
        height: 28px,
        offset_x_retina: -1194px,
        offset_y_retina: -193px,
        width_retina: 9px,
        height_retina: 14px),
    ico_arrowdown: (
        offset_x: -2188px,
        offset_y: -356px,
        width: 27px,
        height: 16px,
        offset_x_retina: -1094px,
        offset_y_retina: -178px,
        width_retina: 13.5px,
        height_retina: 8px),
    ico_arrowright: (
        offset_x: -2257px,
        offset_y: -356px,
        width: 8px,
        height: 14px,
        offset_x_retina: -1128.5px,
        offset_y_retina: -178px,
        width_retina: 4px,
        height_retina: 7px),
    ico_att: (
        offset_x: -1954px,
        offset_y: -386px,
        width: 48px,
        height: 48px,
        offset_x_retina: -977px,
        offset_y_retina: -193px,
        width_retina: 24px,
        height_retina: 24px),
    ico_close: (
        offset_x: -2006px,
        offset_y: -386px,
        width: 46px,
        height: 46px,
        offset_x_retina: -1003px,
        offset_y_retina: -193px,
        width_retina: 23px,
        height_retina: 23px),
    ico_delete: (
        offset_x: -2308px,
        offset_y: -386px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1154px,
        offset_y_retina: -193px,
        width_retina: 17px,
        height_retina: 17px),
    ico_facebook: (
        offset_x: -1660px,
        offset_y: -458px,
        width: 18px,
        height: 34px,
        offset_x_retina: -830px,
        offset_y_retina: -229px,
        width_retina: 9px,
        height_retina: 17px),
    ico_help: (
        offset_x: -1900px,
        offset_y: -386px,
        width: 50px,
        height: 50px,
        offset_x_retina: -950px,
        offset_y_retina: -193px,
        width_retina: 25px,
        height_retina: 25px),
    ico_login: (
        offset_x: -1660px,
        offset_y: -386px,
        width: 68px,
        height: 68px,
        offset_x_retina: -830px,
        offset_y_retina: -193px,
        width_retina: 34px,
        height_retina: 34px),
    ico_ok: (
        offset_x: -1316px,
        offset_y: -566px,
        width: 170px,
        height: 170px,
        offset_x_retina: -658px,
        offset_y_retina: -283px,
        width_retina: 85px,
        height_retina: 85px),
    ico_plus: (
        offset_x: -2219px,
        offset_y: -356px,
        width: 16px,
        height: 16px,
        offset_x_retina: -1109.5px,
        offset_y_retina: -178px,
        width_retina: 8px,
        height_retina: 8px),
    ico_plus2: (
        offset_x: -1844px,
        offset_y: -386px,
        width: 52px,
        height: 52px,
        offset_x_retina: -922px,
        offset_y_retina: -193px,
        width_retina: 26px,
        height_retina: 26px),
    ico_twitter: (
        offset_x: -2346px,
        offset_y: -386px,
        width: 38px,
        height: 30px,
        offset_x_retina: -1173px,
        offset_y_retina: -193px,
        width_retina: 19px,
        height_retina: 15px),
    ico_youtube: (
        offset_x: -2756px,
        offset_y: -304px,
        width: 46px,
        height: 32px,
        offset_x_retina: -1378px,
        offset_y_retina: -152px,
        width_retina: 23px,
        height_retina: 16px),
    input_check: (
        offset_x: -2232px,
        offset_y: -386px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1116px,
        offset_y_retina: -193px,
        width_retina: 17px,
        height_retina: 17px),
    input_check2: (
        offset_x: -1788px,
        offset_y: -386px,
        width: 52px,
        height: 52px,
        offset_x_retina: -894px,
        offset_y_retina: -193px,
        width_retina: 26px,
        height_retina: 26px),
    input_check_on: (
        offset_x: -2156px,
        offset_y: -386px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1078px,
        offset_y_retina: -193px,
        width_retina: 17px,
        height_retina: 17px),
    input_check_on2: (
        offset_x: -1732px,
        offset_y: -386px,
        width: 52px,
        height: 52px,
        offset_x_retina: -866px,
        offset_y_retina: -193px,
        width_retina: 26px,
        height_retina: 26px),
    input_radio: (
        offset_x: -2106px,
        offset_y: -386px,
        width: 46px,
        height: 46px,
        offset_x_retina: -1053px,
        offset_y_retina: -193px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio2: (
        offset_x: -2270px,
        offset_y: -386px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1135px,
        offset_y_retina: -193px,
        width_retina: 17px,
        height_retina: 17px),
    input_radio_on: (
        offset_x: -2056px,
        offset_y: -386px,
        width: 46px,
        height: 46px,
        offset_x_retina: -1028px,
        offset_y_retina: -193px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio_on2: (
        offset_x: -2194px,
        offset_y: -386px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1097px,
        offset_y_retina: -193px,
        width_retina: 17px,
        height_retina: 17px),
    logo: (
        offset_x: -2120px,
        offset_y: -304px,
        width: 274px,
        height: 48px,
        offset_x_retina: -1060px,
        offset_y_retina: -152px,
        width_retina: 137px,
        height_retina: 24px),
    logo_white: (
        offset_x: -1660px,
        offset_y: -304px,
        width: 456px,
        height: 78px,
        offset_x_retina: -830px,
        offset_y_retina: -152px,
        width_retina: 228px,
        height_retina: 39px),
    qut_end: (
        offset_x: -2696px,
        offset_y: -304px,
        width: 56px,
        height: 32px,
        offset_x_retina: -1348px,
        offset_y_retina: -152px,
        width_retina: 28px,
        height_retina: 16px),
    qut_start: (
        offset_x: -2636px,
        offset_y: -304px,
        width: 56px,
        height: 32px,
        offset_x_retina: -1318px,
        offset_y_retina: -152px,
        width_retina: 28px,
        height_retina: 16px),
    study_step1: (
        offset_x: -834px,
        offset_y: 0,
        width: 1978px,
        height: 148px,
        offset_x_retina: -417px,
        offset_y_retina: 0,
        width_retina: 989px,
        height_retina: 74px),
    study_step2: (
        offset_x: -834px,
        offset_y: -152px,
        width: 1978px,
        height: 148px,
        offset_x_retina: -417px,
        offset_y_retina: -76px,
        width_retina: 989px,
        height_retina: 74px),
);
