@mixin spr_img_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img_2x: (
    spritesheet_name: spr_img_2x,
    total_width: 2812px,
    total_height: 1126px,
    total_width_retina: 1406px,
    total_height_retina: 563px,
    arrow_right: (
        offset_x: -2501px,
        offset_y: -204px,
        width: 14px,
        height: 16px,
        offset_x_retina: -1250.5px,
        offset_y_retina: -102px,
        width_retina: 7px,
        height_retina: 8px),
    bg01: (
        offset_x: -834px,
        offset_y: -152px,
        width: 304px,
        height: 442px,
        offset_x_retina: -417px,
        offset_y_retina: -76px,
        width_retina: 152px,
        height_retina: 221px),
    bg02: (
        offset_x: -1142px,
        offset_y: -152px,
        width: 258px,
        height: 304px,
        offset_x_retina: -571px,
        offset_y_retina: -76px,
        width_retina: 129px,
        height_retina: 152px),
    bg03: (
        offset_x: -1712px,
        offset_y: -152px,
        width: 206px,
        height: 206px,
        offset_x_retina: -856px,
        offset_y_retina: -76px,
        width_retina: 103px,
        height_retina: 103px),
    bg04: (
        offset_x: 0,
        offset_y: 0,
        width: 830px,
        height: 830px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 415px,
        height_retina: 415px),
    bg05: (
        offset_x: 0,
        offset_y: -834px,
        width: 100px,
        height: 292px,
        offset_x_retina: 0,
        offset_y_retina: -417px,
        width_retina: 50px,
        height_retina: 146px),
    bg06: (
        offset_x: -1404px,
        offset_y: -152px,
        width: 304px,
        height: 258px,
        offset_x_retina: -702px,
        offset_y_retina: -76px,
        width_retina: 152px,
        height_retina: 129px),
    f_ssl: (
        offset_x: -1922px,
        offset_y: -234px,
        width: 234px,
        height: 40px,
        offset_x_retina: -961px,
        offset_y_retina: -117px,
        width_retina: 117px,
        height_retina: 20px),
    ico_arrow_hide: (
        offset_x: -2416px,
        offset_y: -204px,
        width: 30px,
        height: 18px,
        offset_x_retina: -1208px,
        offset_y_retina: -102px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_next: (
        offset_x: -2394px,
        offset_y: -234px,
        width: 12px,
        height: 18px,
        offset_x_retina: -1197px,
        offset_y_retina: -117px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_prev: (
        offset_x: -2410px,
        offset_y: -234px,
        width: 12px,
        height: 18px,
        offset_x_retina: -1205px,
        offset_y_retina: -117px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_view: (
        offset_x: -2382px,
        offset_y: -204px,
        width: 30px,
        height: 18px,
        offset_x_retina: -1191px,
        offset_y_retina: -102px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_view2: (
        offset_x: -2372px,
        offset_y: -234px,
        width: 18px,
        height: 28px,
        offset_x_retina: -1186px,
        offset_y_retina: -117px,
        width_retina: 9px,
        height_retina: 14px),
    ico_arrowdown: (
        offset_x: -2450px,
        offset_y: -204px,
        width: 27px,
        height: 16px,
        offset_x_retina: -1225px,
        offset_y_retina: -102px,
        width_retina: 13.5px,
        height_retina: 8px),
    ico_arrowright: (
        offset_x: -2519px,
        offset_y: -204px,
        width: 8px,
        height: 14px,
        offset_x_retina: -1259.5px,
        offset_y_retina: -102px,
        width_retina: 4px,
        height_retina: 7px),
    ico_att: (
        offset_x: -2660px,
        offset_y: -152px,
        width: 48px,
        height: 48px,
        offset_x_retina: -1330px,
        offset_y_retina: -76px,
        width_retina: 24px,
        height_retina: 24px),
    ico_facebook: (
        offset_x: -2312px,
        offset_y: -278px,
        width: 18px,
        height: 34px,
        offset_x_retina: -1156px,
        offset_y_retina: -139px,
        width_retina: 9px,
        height_retina: 17px),
    ico_help: (
        offset_x: -2106px,
        offset_y: -278px,
        width: 50px,
        height: 50px,
        offset_x_retina: -1053px,
        offset_y_retina: -139px,
        width_retina: 25px,
        height_retina: 25px),
    ico_login: (
        offset_x: -1922px,
        offset_y: -278px,
        width: 68px,
        height: 68px,
        offset_x_retina: -961px,
        offset_y_retina: -139px,
        width_retina: 34px,
        height_retina: 34px),
    ico_ok: (
        offset_x: -834px,
        offset_y: -598px,
        width: 170px,
        height: 170px,
        offset_x_retina: -417px,
        offset_y_retina: -299px,
        width_retina: 85px,
        height_retina: 85px),
    ico_plus: (
        offset_x: -2481px,
        offset_y: -204px,
        width: 16px,
        height: 16px,
        offset_x_retina: -1240.5px,
        offset_y_retina: -102px,
        width_retina: 8px,
        height_retina: 8px),
    ico_twitter: (
        offset_x: -2330px,
        offset_y: -234px,
        width: 38px,
        height: 30px,
        offset_x_retina: -1165px,
        offset_y_retina: -117px,
        width_retina: 19px,
        height_retina: 15px),
    ico_youtube: (
        offset_x: -2280px,
        offset_y: -234px,
        width: 46px,
        height: 32px,
        offset_x_retina: -1140px,
        offset_y_retina: -117px,
        width_retina: 23px,
        height_retina: 16px),
    input_check: (
        offset_x: -2198px,
        offset_y: -278px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1099px,
        offset_y_retina: -139px,
        width_retina: 17px,
        height_retina: 17px),
    input_check2: (
        offset_x: -1994px,
        offset_y: -278px,
        width: 52px,
        height: 52px,
        offset_x_retina: -997px,
        offset_y_retina: -139px,
        width_retina: 26px,
        height_retina: 26px),
    input_check_on: (
        offset_x: -2274px,
        offset_y: -278px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1137px,
        offset_y_retina: -139px,
        width_retina: 17px,
        height_retina: 17px),
    input_check_on2: (
        offset_x: -2050px,
        offset_y: -278px,
        width: 52px,
        height: 52px,
        offset_x_retina: -1025px,
        offset_y_retina: -139px,
        width_retina: 26px,
        height_retina: 26px),
    input_radio: (
        offset_x: -2762px,
        offset_y: -152px,
        width: 46px,
        height: 46px,
        offset_x_retina: -1381px,
        offset_y_retina: -76px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio2: (
        offset_x: -2236px,
        offset_y: -278px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1118px,
        offset_y_retina: -139px,
        width_retina: 17px,
        height_retina: 17px),
    input_radio_on: (
        offset_x: -2712px,
        offset_y: -152px,
        width: 46px,
        height: 46px,
        offset_x_retina: -1356px,
        offset_y_retina: -76px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio_on2: (
        offset_x: -2160px,
        offset_y: -278px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1080px,
        offset_y_retina: -139px,
        width_retina: 17px,
        height_retina: 17px),
    logo: (
        offset_x: -2382px,
        offset_y: -152px,
        width: 274px,
        height: 48px,
        offset_x_retina: -1191px,
        offset_y_retina: -76px,
        width_retina: 137px,
        height_retina: 24px),
    logo_white: (
        offset_x: -1922px,
        offset_y: -152px,
        width: 456px,
        height: 78px,
        offset_x_retina: -961px,
        offset_y_retina: -76px,
        width_retina: 228px,
        height_retina: 39px),
    qut_end: (
        offset_x: -2160px,
        offset_y: -234px,
        width: 56px,
        height: 32px,
        offset_x_retina: -1080px,
        offset_y_retina: -117px,
        width_retina: 28px,
        height_retina: 16px),
    qut_start: (
        offset_x: -2220px,
        offset_y: -234px,
        width: 56px,
        height: 32px,
        offset_x_retina: -1110px,
        offset_y_retina: -117px,
        width_retina: 28px,
        height_retina: 16px),
    study_step1: (
        offset_x: -834px,
        offset_y: 0,
        width: 1978px,
        height: 148px,
        offset_x_retina: -417px,
        offset_y_retina: 0,
        width_retina: 989px,
        height_retina: 74px),
);
