@mixin spr_img_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img_2x: (
    spritesheet_name: spr_img_2x,
    total_width: 1242px,
    total_height: 1040px,
    total_width_retina: 621px,
    total_height_retina: 520px,
    arrow_right: (
        offset_x: -1202px,
        offset_y: -296px,
        width: 14px,
        height: 16px,
        offset_x_retina: -601px,
        offset_y_retina: -148px,
        width_retina: 7px,
        height_retina: 8px),
    bg01: (
        offset_x: -834px,
        offset_y: 0,
        width: 304px,
        height: 442px,
        offset_x_retina: -417px,
        offset_y_retina: 0,
        width_retina: 152px,
        height_retina: 221px),
    bg02: (
        offset_x: -834px,
        offset_y: -446px,
        width: 258px,
        height: 304px,
        offset_x_retina: -417px,
        offset_y_retina: -223px,
        width_retina: 129px,
        height_retina: 152px),
    bg03: (
        offset_x: 0,
        offset_y: -834px,
        width: 206px,
        height: 206px,
        offset_x_retina: 0,
        offset_y_retina: -417px,
        width_retina: 103px,
        height_retina: 103px),
    bg04: (
        offset_x: 0,
        offset_y: 0,
        width: 830px,
        height: 830px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 415px,
        height_retina: 415px),
    bg05: (
        offset_x: -1142px,
        offset_y: 0,
        width: 100px,
        height: 292px,
        offset_x_retina: -571px,
        offset_y_retina: 0,
        width_retina: 50px,
        height_retina: 146px),
    f_ssl: (
        offset_x: -670px,
        offset_y: -834px,
        width: 234px,
        height: 40px,
        offset_x_retina: -335px,
        offset_y_retina: -417px,
        width_retina: 117px,
        height_retina: 20px),
    logo: (
        offset_x: -834px,
        offset_y: -754px,
        width: 274px,
        height: 48px,
        offset_x_retina: -417px,
        offset_y_retina: -377px,
        width_retina: 137px,
        height_retina: 24px),
    logo_white: (
        offset_x: -210px,
        offset_y: -834px,
        width: 456px,
        height: 78px,
        offset_x_retina: -105px,
        offset_y_retina: -417px,
        width_retina: 228px,
        height_retina: 39px),
    qut_end: (
        offset_x: -1142px,
        offset_y: -332px,
        width: 56px,
        height: 32px,
        offset_x_retina: -571px,
        offset_y_retina: -166px,
        width_retina: 28px,
        height_retina: 16px),
    qut_start: (
        offset_x: -1142px,
        offset_y: -296px,
        width: 56px,
        height: 32px,
        offset_x_retina: -571px,
        offset_y_retina: -148px,
        width_retina: 28px,
        height_retina: 16px),
);
