@charset "UTF-8";
.wrap {
  width: $G-contents-fit;
  min-width: $G-contents;
  min-height:$G-contents-fit;
  position: relative;
  padding-bottom: 408px;
  &.other,
  &.login {
    background: $C-cont-bg;
  }
  &.login {
    padding-bottom: 48px;
  }
}
.header {
  position: relative;
  width : $G-contents;
  height: 93px;
  margin: 0 auto;

  .logo {
    display: inline-block;
    vertical-align: top;
    margin: 33px 0 0 47px;

    &__link {
      @include use-sprite(logo);
    }

  }
  .menu {
    display: inline-block;
    vertical-align: top;
    @include clear;

    &__area {
      margin : 40px 0 0 146px;
    }
    &__item {
      float:left;
      &.active {
        .menu__link {
          color: $C-font-dark-gray2;
        }

      }
    }
    &__link {
      font-family: $F-family-en;
      font-weight: 600;
      color: $C-font-light2;
      padding: 0 24px;
      font-size: $F-size;

      &:hover {
        color: $C-font-dark-gray2;
      }
    }
  }
  .log_info {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 30px;
    top: 24px;

    .top_link {
      color: $C-font-light2;
      font-weight: $F-weight-bold;
      line-height: 32px;
      font-size: $F-size-under;
      &:hover {
        color: $C-font-dark-gray;
      }
      &+.top_link {
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 3px;
          height: 3px;
          margin: 0 8px 0 5px;
          background: $C-font-light2;

        }
      }
    }
    .btn_study_apply {
      display: inline-block;
      vertical-align: top;
      width: 88px;
      height:34px;
      margin-left: 20px;
      border: 1px solid $C-brand-point2;
      border-radius: 3px;
      line-height:32px;
      text-align: center;
      color: $C-white;
      font-size: $F-size;
      background: $C-brand-point;

      &:after {
        @include use-sprite(arrow_right);
        margin-left: 8px;
      }
    }
  }
}
.other {
  .top_area {
    background: $C-white;
    width: $G-contents-fit;
    border-bottom: 1px solid $C-menu-line;
  }

}
.login {
  .top_area {
    background: $C-white;
    width: $G-contents-fit;
    border-bottom: 1px solid $C-menu-line;
  }
  .footer {
    background: #eef0f1;
    .foot_copy {
      text-align: center;
      color: #555;
      font-size: $F-size-small;
      font-family: $F-family-en2;
      padding: 20px 0 50px;
      &:after {
        display: none;
      }
      .foot_copy-text {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
      }
    }
  }

}
.contents {
  width : 990px;
  margin: 0 auto;
  padding: 50px 0;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  .menu {
    height: 70px;
    border: 1px solid #d5dcdc;
    border-width: 1px 0;
    margin: 0 auto;
    text-align: center;
    background: $C-white;

    &__area {
      margin: 0 auto;
    }
    &__item {
      display: inline-block;
      vertical-align: top;
      &.active {
        .menu__link {
          color: $C-font-dark-gray2;
        }

      }
    }
    &__link {
      font-family: $F-family-en;
      font-weight: 600;
      color: $C-font-dark-gray2;
      padding: 0 24px;
      font-size: $F-size-under;
      line-height: 70px;
      &:hover {
        color: $C-font-dark-gray2;
      }
    }

  }
  .foot_area {
    background: $C-black;
    padding: 70px 0 165px;

    .fmenu {
      text-align: center;

      &__item {
        display: inline-block;
        vertical-align: top;

      }
      &__link {
        color: $C-white;
        font-size: $F-size-under;
      }
      .fmenu__item + .fmenu__item {
        &:before {
          content: '';
          display: inline-block;
          vertical-align: top;
          width: 1px;
          height: 12px;
          background: $C-white;
          opacity: .3;
          margin: 5px 17px 0 14px;
        }
      }
    }

    .foot_info {
      text-align: center;
      padding-top: 30px;
      &__address {
        display: inline-block;
        vertical-align: top;
        color: $C-white;
        .flogo {
          font-family: $F-family-en;
          font-weight: 600;
          padding-right: 5px;
        }
      }
      &__mail {
        display: inline-block;
        vertical-align: top;
        color: $C-white;
        font-family: $F-family-en2;
        font-size: $F-size-small;
        margin-left: 30px;

      }
      &__mail-link {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        color: $C-white;
        font-family: $F-family-en2;

      }
      &__phone {
        display: inline-block;
        vertical-align: top;
        color: $C-white;
        font-family: $F-family-en2;
        font-size: $F-size-small;
        margin-left: 30px;
      }
      &__phone-num {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        color: $C-white;
        font-family: $F-family-en2;
      }
    }

    .foot_copy {
      text-align: center;
      color: $C-white;
      font-size: $F-size-xsmall;
      font-family: $F-family-en2;
      padding-top: 15px;
      &:after {
        @include use-sprite(f_ssl);
        margin: 0 0 0 8px;
        vertical-align: top;
      }
      .foot_copy-text {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
      }
    }
  }
}